<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.advisor.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/siane"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.advisor.app.MainLanding"
            android:label="@string/siane" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.advisor.app.CallActivity"
            android:label="@string/siane"
            android:parentActivityName="com.advisor.app.MainLanding" />
        <activity
            android:name="com.advisor.app.payment.PayPalActivity"
            android:label="@string/siane"
            android:parentActivityName="com.advisor.app.MainLanding" />
        <activity
            android:name="com.advisor.app.login.LoginActivity"
            android:label="@string/siane"
            android:parentActivityName="com.advisor.app.MainLanding" />
        <activity
            android:name="com.advisor.app.login.SigninActivity"
            android:label="@string/siane"
            android:parentActivityName="com.advisor.app.MainLanding" />
        <activity
            android:name="com.advisor.app.login.RegisterMe"
            android:label="@string/siane"
            android:parentActivityName="com.advisor.app.MainLanding" />
        <activity
            android:name="com.advisor.app.login.ForgotPassword"
            android:label="@string/siane"
            android:parentActivityName="com.advisor.app.login.SigninActivity" />

        <activity
            android:name="com.advisor.app.disclaimer.DisclaimerActivity"
            android:label="@string/siane"
            android:parentActivityName="com.advisor.app.login.SigninActivity" />
        
<!--         <activity android:name="com.advisor.app.SplashScreen"
            android:label="@string/siane"/>
 -->        
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />
        <service
            android:name="com.twilio.client.TwilioClientService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentCompletedActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
    </application>

</manifest>